---
layout: default
description: "你来到了没有知识的荒原 :("
header-img: "img/404-bg.jpg"
permalink: 404.html
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="site-heading" id="tag-heading">
					<h1>404</h1>
					<span class="subheading">{{ page.description }}</span>
				</div>
			</div>
		</div>
	</div>
</header>

<script>
	document.body.classList.add('page-fullscreen');
</script>


  <style>
    pre {
          background: none;
          border: none;
    }
  </style>

  <pre>

                       444444444       000000000            444444444   
                      4::::::::4     00:::::::::00         4::::::::4  
                     4:::::::::4   00:::::::::::::00      4:::::::::4  
                    4::::44::::4  0:::::::000:::::::0    4::::44::::4  
                   4::::4 4::::4  0::::::0   0::::::0   4::::4 4::::4  
                  4::::4  4::::4  0:::::0     0:::::0  4::::4  4::::4  
                 4::::4   4::::4  0:::::0     0:::::0 4::::4   4::::4  
                4::::444444::::4440:::::0 000 0:::::04::::444444::::444
                4::::::::::::::::40:::::0 000 0:::::04::::::::::::::::4
                4444444444:::::4440:::::0     0:::::04444444444:::::444
                          4::::4  0:::::0     0:::::0          4::::4  
                          4::::4  0::::::0   0::::::0          4::::4  
                          4::::4  0:::::::000:::::::0          4::::4  
                        44::::::44 00:::::::::::::00         44::::::44
                        4::::::::4   00:::::::::00           4::::::::4
                        4444444444     000000000             4444444444

         ,-----.             _   _     _           _                 _     _               _   
       ,'_/_|_\_`.          | |_| |__ (_)___   ___| |__   ___  _   _| | __| |  _ __   ___ | |_ 
      /<<::8[O]::>\         | __| '_ \| / __| / __| '_ \ / _ \| | | | |/ _` | | '_ \ / _ \| __|
     _|-----------|_        | |_| | | | \__ \ \__ \ | | | (_) | |_| | | (_| | | | | | (_) | |_ 
 :::|  | ====-=- |  |:::     \__|_| |_|_|___/ |___/_| |_|\___/ \__,_|_|\__,_| |_| |_|\___/ \__|
 :::|  | -=-==== |  |:::                                                                         
 :::\  | ::::|()||  /:::     _                                                          
 ::::| | ....|()|| |::::    | |__   __ _ _ __  _ __   ___ _ __       _____   _____ _ __ 
     | |_________| |        | '_ \ / _` | '_ \| '_ \ / _ \ '_ \     / _ \ \ / / _ \ '__|
     | |\_______/| |        | | | | (_| | |_) | |_) |  __/ | | |_  |  __/\ V /  __/ |   
    /   \ /   \ /   \       |_| |_|\__,_| .__/| .__/ \___|_| |_( )  \___| \_/ \___|_|   
    `---' `---' `---'                   |_|   |_|              |/                       


    </pre>