<!DOCTYPE html>
<html lang="zh-CN"> 
<head>
	<meta charset="utf-8">
	<title>{{ page.title }} | {{ site.SEOTitle }}</title>
	{% if page.description %}
	<meta name="description" content="{{ page.description }}">
	{% endif %}
	<meta name="author" content="{{ site.author.name }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Enable responsive viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- 国产高速渲染 -->
	<meta name="renderer" content="webkit">
	<link rel="shortcut icon" href="/img/favicon.ico">	
	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- 借用huxpro -->
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.BASE_PATH }}">
	
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.BASE_PATH }}/feed.xml">
	
	<!-- Le styles -->
	<link href="{{ site.BASE_PATH }}/assets/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/resources/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/resources/syntax/syntax.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/css/style.css" rel="stylesheet">	
	
</head>

<body ontouchstart="">

	{% include nav.html %}
	
	{{ content }}
	
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    {% if site.RSS %}
                    <li>
                        <a href="{{site.base_PATH}}/{{site.RSS}}" >
                            <i class="fa fa-rss fa-2x"></i>
                        </a>
                    </li>
                    {% endif %}
					{% if site.email %}
                    <li>
                        <a target="_blank" href="mailto:brucezhaor2016@gmail.com">
							<i class="fa fa-envelope fa-2x"></i>
						</a>
					</li>
					{% endif %}
					{% if site.linkedin %}
					<li>
						<a target="_blank" href="https://linkedin.com/in/{{ site.linkedin }}">
							<i class="fa fa-linkedin fa-2x"></i>
						</a>
					</li>
					{% endif %}	
                </ul>
                <p class="copyright text-muted">
                    &copy; 2015-2016 {{ site.author.name }} ,licenses under<a href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/">(CC) BY-NC-SA 3.0 CN</a>. | Powered by <a href="https://github.com/mojombo/jekyll">Jekyll</a> and <a href="http://www.bootcss.com/">Bootstrap</a>.Theme by <a href="http://huangxuan.me">Hux</a>.
					<br>
					<span class="label label-primary label-md"><strong>转载请标明作者和出处</strong></span>
                </p>
            </div>
        </div>
    </div>
</footer>



	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/resources/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/resources/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/js/app.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/js/blog.js"></script>
	
	<!-- async load function -->
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>
	
	<!--fastClick.js -->
<script>
    async("http://cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js", function(){
        var $nav = document.querySelector("nav");
        if($nav) FastClick.attach($nav);
    })
</script>
	
</body>
</html>
