---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.BASE_PATH }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <!--<hr class="small">-->
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
<!-- USE SIDEBAR -->
    <!-- Post Container -->
    		<div class="
                col-lg-8 col-lg-offset-1
                col-md-8 col-md-offset-1
                col-sm-12
                col-xs-12
                post-container
            ">
    			{{ content }}
    		</div>
    <!-- Sidebar Container -->
            <div class="
                col-lg-3 col-lg-offset-0
                col-md-3 col-md-offset-0
                col-sm-12
                col-xs-12
                sidebar-container">

                <!-- Short About -->
                <section class="visible-md visible-lg">
                    <hr><h5><a href="/about.html">ABOUT ME</a></h5>
                    <div class="short-about">
                        {% if site.sidebar-avatar %}
                            <img src="{{site.sidebar-avatar}}" />
                        {% endif %}
                        {% if site.sidebar-about-description %}
                            <p>{{site.sidebar-about-description}}</p>
                        {% endif %}
                        <!-- SNS Link -->
                        <ul class="list-inline">
						
                            {% if site.weibo_username %}
							<li>
								<a target="_blank" href="http://weibo.com/{{ site.weibo_username }}">
									<i class="fa fa-weibo fa-2x"></i>
								</a>
							</li>
							{% endif %}
                            {% if site.facebook_username %}
                            <li>
                                <a target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}">
									<i class="fa fa-facebook-square fa-2x"></i>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.google_username %}
                            <li>
                                <a target="_blank" href="https://plus.google.com/{{ site.google_username }}">
									<i class="fa fa-google-plus fa-2x"></i>
                                </a>
                            </li>
                            {% endif %}
							{% if site.github_username %}
							<li>
								<a target="_blank" href="https://github.com/{{ site.github_username }}">
									<i class="fa fa-github-square fa-2x"></i>
								</a>
							</li>
							{% endif %}
	
                        </ul>
                    </div>
                </section>
                <!-- Friends Blog -->
                {% if site.friends %}
                <hr>
                <h5>大牛们的博客</h5>
                <ul class="list-inline">
                    {% for friend in site.friends %}
                        <li><a href="{{friend.href}}">{{friend.title}}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
    		</div>
	</div>
</div>
